* {
    margin: 0px;
    padding: 0px;
    }
    
    body {
        color: white;
        text-align: center;
        line-height: 24px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
    }
    
    div div {
        border: 1px solid black;
    }
    
    .wrapper {
        background-color: #000000;
        
        display: grid;
        grid-gap: 10px;
        border: 5px solid black;
        padding: 10px;
        
    }
    .red {
        background-color: red;
        height: 110px;
        grid-area: 1 / 1;
    }
    .green {
        background-color: green;
        grid-area: 1 / 2;
    }
    .blue {
        background-color: blue;
        grid-area: 1 / 3;
    }
    .purple {
        background-color: purple;
        grid-area: 1 / 4;
    }
    .footer {
        background-color: grey;
        grid-column: span 4;
    }
    
    @media only screen and (max-width: 500px) {
        .wrapper {
            display: grid;
            grid-gap: 10px;
            border: 5px solid black;
            padding: 10px;
        }
        .red {
            background-color: red;
            grid-area: 1/1;
            height: 150px;
        }
        .green {
            background-color: green;
            grid-area: 2 / 1;
            height: 150px;
        }
        .blue {
            background-color: blue;
            grid-area: 3 / 1;
            height: 150px;
        }
        .purple {
            background-color: purple;
            grid-area: 4 / 1;
            height: 150px;
            
        }
        .footer {
            background-color: grey;
            height: 20px;
            grid-column: span 1;
        }
    }