body {
    background-color: lightgray;}
h1 {
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);}
p {
    color: rgba(150,150,150,0.9);}
h2 {
    color: rgb(211,211,211);
    background-color: rgb(150,210,148);}
blockquote>p {
    color: rgb(213,126,213);}
.fetts {
    background-color: rgb(232,190,20);}
.alist {
    background-color: rgb(59,113,159);}
dl>dt {
    color: hsl(120,73%,90%);}
dl>dd {
    color: hsl(193,85%,80%);}
